 .categories{
     margin-left: 150px;
     margin-bottom: 30px;
     font-size: 12px;
}
 .categories li{
     display: inline-block;
}
 .categories li a{
     border: 1px solid #111;
     padding: 6px 10px;
     border-radius: 4px;
     min-width: 80px;
     display: block;
     text-align: center;
     transition: all 200ms ease;
}

 .categories li a:hover{
     border: 1px solid #666;
       background-color: #ddd;
     color: #222;


}
 .categories li a.active{
     background-color: rgba(200,200,200,0.7);
     color: #222;

       background-color: #eee;

}
 