 .logo{
     border-radius: 10px;
     position: fixed;
     top: 25px;
     right: 25px;
     width: 40px;
     z-index: 999;
}
header{
     display: flex;
}
header div:nth-child(1){
     flex-grow: 1;
}

footer{
    min-height: 50px;
}

sup{
     font-size: 9px;
     vertical-align: super;
}

header h1{
     margin: 20px 0 60px 150px;
}

h1{
     color: white;
     font-size: 18px;
}


body.project header h1{
    opacity: 0.4;
    }