.progress{
    width: 100%;
    height: 5px;
    margin-top: -4px;
     border-bottom: #D2D2D2 solid 1px;
     border-bottom: #565656 solid 1px;
     border-top: #565656 solid 1px;

}
.progress .bar{
    width: 0%;
    height: 3px;
    background-color: orange;
}

.progress .bar.p0{
    width: 2%;
}

.progress .bar.p10{
    width: 10%;
}

.progress .bar.p20{
    width: 20%;
}

.progress .bar.p40{
    width: 40%;
}

.progress .bar.p60{
    width: 60%;
}

.progress .bar.p80{
    width: 80%;
}

.progress .bar.p100{
    width: 100%;
    background-color: green;
}


.progress .bar.hold{
    width: 100%;
    background-color: red;

}